@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Smooch+Sans:wght@700&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Smooch Sans", Helvetica, sans-serif;
	user-select: none;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

header {
	text-align: center;
	margin-top: 1em;
	font-size: clamp(1rem, 10vw, 3rem);
	text-shadow: 0.025em 0.05em 0 red, -0.025em 0.05em 0 green,
		0.05em -0.025em 0 blue;
	/* animation: glitch 600ms infinite; */
}

@keyframes glitch {
	0% {
		text-shadow: 0.05em 0.07em 0 red, -0.025em 0.07em 0 green,
			0.07em -0.025em 0 blue;
	}
	14% {
		text-shadow: -0.05em 0.07em 0 red, 0.025em 0.07em 0 green,
			-0.07em -0.025em 0 blue;
	}
	15% {
		text-shadow: 0.05em -0.07em 0 red, 0.025em -0.07em 0 green,
			0.07em 0.025em 0 blue;
	}
	49% {
		text-shadow: -0.05em -0.07em 0 red, -0.025em 0.07em 0 green,
			0.07em -0.025em 0 blue;
	}
	99% {
		text-shadow: 0.025em 0.07em 0 red, 0.025em 0.01em 0 green,
			0.05em 0.05em 0 blue;
	}
	100% {
		text-shadow: 0.05em 0.07em 0 red, -0.025em 0.07em 0 green,
			0.07em -0.025em 0 blue;
	}
}

.GameBoard {
	display: grid;
	grid-template-columns: repeat(3, clamp(25px, 200px, 300px));
	grid-template-rows: repeat(3, clamp(25px, 200px, 300px));
	background-color: #cfc;
	grid-gap: 10px;
	padding: 10px;
}

.cell {
	background-color: rgba(253, 249, 232);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10em;
	cursor: pointer;
	font-family: "Poppins";
	text-shadow: 5px 7px 0 indigo;
}

#overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(204, 204, 204, 0.5);
	height: 100vh;
	width: 100vw;
	text-align: center;
}

form {
	font-size: clamp(1rem, 10vh, 2rem);
	text-shadow: 0.025em 0.05em 0 red, -0.025em 0.05em 0 green,
		0.05em -0.025em 0 blue;
}

form input {
	width: clamp(25px, 60px, 100px);
	height: clamp(25px, 60px, 100px);
	font-size: inherit;
	cursor: pointer;
	margin-inline: 1em;
	border: none;
}

form input:hover {
	box-shadow: 0px 0px 5px hotpink;
}

form input:active {
	transform: scale(0.95);
}

.selection-text {
	display: inline-flex;
	/* gap: 2.5em; */
	margin: 1em;
}
